<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <header>
      <% include ./partials/header.ejs %>
    </header>

    <main>
      <div class="container">
        <img src="<%=phone.img%>" alt="">
        <h1><%=phone.name%></h1>
        <h2><%=phone.model%></h2>


        Current Status: <%=phone.status%>

        <article class="flow-text card">
          <h3>Description</h3>
          <%=phone.description%>
        </article>


        <article class="flow-text card">
          <h3>Comments</h3>
          <%=phone.log%>
        </article>

        <h3>Gallery</h3>
        <div class="slider" style= "height:900px">
          <ul class="slides">
            <% for (image of phone.gallery.split(",")) { %>
              <li style="opacity: 0; transform: translateX(0px) translateY(0px);">
                <img src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style="background-image: url(<%=image %>);">
              </li>
            <% } %>
          </ul>
        </div>

        <h3>Album</h3>
        <div class="slider">
          <ul class="slides">
            <% for (image of phone.album.split(",")) { %>

              <li style="opacity: 0; transform: translateX(0px) translateY(0px);">
                <img src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style="background-image: url(<%=image %>);">
              </li>
            <% } %>
          </ul>
        </div>


    </div>
    <% if (typeof currentUser !== "undefined" ) { %>
      <% if (currentUser._id === "5d4934d0d756ba1fd877de01") { %>
        <form class="btn waves-effect waves-light right" action="/phones/<%=phone.id %>?_method=DELETE" method="POST">
          <input type="submit" value="Delete Phone">
        </form>

        <form class="left" action="/phones/<%=phone.id %>/edit" method="GET">
          <input type="submit" value="Edit Phone Info" class="btn waves-effect waves-light">
        </form>
      <% } %>
    <% } %>


      </main>





    <footer>
      <% include ./partials/footer.ejs %>
    </footer>

    <!-- Scripts -->
  <% include ./partials/scripts.ejs %>
  </body>

</html>
